@tsit:registry=http://srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 14/03/2024.
; begin auth token
//srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlNqUjBGYnU2R1lNT2psWHptdkxYbHVRdzEtRSJ9.eyJuYW1laWQiOiJiOGIyN2U3My04YTYzLTQ1NTctYWZkNi1iMTA5YTAxMmU0ZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2Q2ZGYyODYtNzM3NS00NGY2LTg0NGUtOTZiOGYxNDMyZmY0Iiwic2lkIjoiNDU2ZDYxMzEtOTRiYy00NmY2LTllZDAtMTg3NTVkY2Q3OTZjIiwiaXNzIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwiYXVkIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwibmJmIjoxNzAyNjQ3NTA5LCJleHAiOjE3MTA0MjM1MDh9.rLGRxNHbrcNX7dRMjjMgaRZCfCiXcSRPDMHFt06VAukVcHackhGKFdx_WZH1-0CodmY4Z7mth5E-kUQr03wMGRRhLh_8duzXAilitDk5e1MsnO-xns5qdZUdigKep8_rsjkOeSVXCO7MHJ6rBVTw48Si3gF4gmBdA17ucUy0rB2wdno1fyBkQVWSa-QX3jHy8uL7EYkTSWZoGOvQ6L4YkcA9PVkaYfqJVwxoTYMykwchSoEwZROLmfRcpIjyjDg173LkgaVqx2IJVvJvIHi8oGVDoVz0NphAbqdsWnXmBHiG3qdrC4PkIdMz4i5P3X-Ae3Me68EtS41jLWit3zMahQ
//srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlNqUjBGYnU2R1lNT2psWHptdkxYbHVRdzEtRSJ9.eyJuYW1laWQiOiJiOGIyN2U3My04YTYzLTQ1NTctYWZkNi1iMTA5YTAxMmU0ZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2Q2ZGYyODYtNzM3NS00NGY2LTg0NGUtOTZiOGYxNDMyZmY0Iiwic2lkIjoiNDU2ZDYxMzEtOTRiYy00NmY2LTllZDAtMTg3NTVkY2Q3OTZjIiwiaXNzIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwiYXVkIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwibmJmIjoxNzAyNjQ3NTA5LCJleHAiOjE3MTA0MjM1MDh9.rLGRxNHbrcNX7dRMjjMgaRZCfCiXcSRPDMHFt06VAukVcHackhGKFdx_WZH1-0CodmY4Z7mth5E-kUQr03wMGRRhLh_8duzXAilitDk5e1MsnO-xns5qdZUdigKep8_rsjkOeSVXCO7MHJ6rBVTw48Si3gF4gmBdA17ucUy0rB2wdno1fyBkQVWSa-QX3jHy8uL7EYkTSWZoGOvQ6L4YkcA9PVkaYfqJVwxoTYMykwchSoEwZROLmfRcpIjyjDg173LkgaVqx2IJVvJvIHi8oGVDoVz0NphAbqdsWnXmBHiG3qdrC4PkIdMz4i5P3X-Ae3Me68EtS41jLWit3zMahQ
; end auth token